.ml-1 {
    margin-left: 1rem;
}

.card-body{
    padding: 0;
}

.card-title-pendente {
    background-color: #ffbd44;
    padding: 0.5rem 1rem;
    font-style: italic;
    margin-bottom: 0;
}

.card-title-andamento {
    background-color: #2dbbe5;
    padding: 0.5rem 1rem;
    font-style: italic;
    margin-bottom: 0;
}

.card-title-concluido {
    background-color: #63e16d;
    padding: 0.5rem 1rem;
    font-style: italic;
    margin-bottom: 0;
}



.card-content-pendente {
    background-color: #fddd83;
    padding: 1rem;
}

.card-content-andamento {
    background-color: #8ae4ff;
    padding: 1rem;
}

.card-content-concluido {
    background-color: #a2ffb6;
    padding: 1rem;
}


.status-pendente {
    display: inline-block;
    background: #fa8602;
    border-radius: 8px;
    text-align: center;
}

.status-andamento {
    display: inline-block;
    background: #008cff;
    border-radius: 8px;
    text-align: center;
}

.status-concluido {
    display: inline-block;
    background: #28bd03;
    border-radius: 8px;
    text-align: center;
}