<div class="card mb-3 mt-5" *ngIf="isAddingTask">
  <app-to-do-card
    (submitTask)="onSaveNewTask()"
    (cancelEdit)="onCancelNewTask()"
    [editIndex]="editIndex"
    [isAddingTask]="isAddingTask"
    [editingTask]="editingTask"
    [formGroup]="formGroup"
    [statusClass]="statusClass"
    [statusText]="statusText"
    [statusClassTitle]="statusClassTitle"
    [statusClassContent]="statusClassContent"
  ></app-to-do-card>
</div>

<div class="card mb-3 mt-5" *ngFor="let tarefa of tarefas; let i = index">
  <app-to-do-card
    (editTask)="onEdit(i, tarefa)"
    (submitTask)="onUpdateTask(i)"
    (cancelEdit)="onCancelEdit()"
    (deleteTask)="onDelete(tarefa.id)"
    [cardIndex]="i"
    [editIndex]="editIndex"
    [editingTask]="editingTask"
    [formGroup]="formGroup"
    [tarefa]="tarefa"
    [statusClass]="statusClass"
    [statusText]="statusText"
    [statusClassTitle]="statusClassTitle"
    [statusClassContent]="statusClassContent"
  ></app-to-do-card>
</div>
